body {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #a8c03d;
    padding: 20px 200px;
    padding: 8px 15%;
    gap: 50px;
    padding-bottom: 50px;
}

.opening {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.opening img {
    display: flex;
    flex-shrink: 1;
    height: 300px;
    width: 500px;
    border-radius: 21px;
    border: solid;
    border-color: rgb(180, 180, 2);
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a, .hero-secondary {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button1 {
    background-color: #a8c03d;
    color: #E5E7EB;
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid;
    border-radius: 8px;
    width: 120px;
    border-color: r;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
   
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #E5E7EB;
    border-radius: 20px;
    padding: 12px;
    padding-bottom: 2px;
    border: solid;
    border-color: rgb(180, 180, 2);
  
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
    border-radius: 21px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 80px;
    width: 90%;
    padding: 21px;
    opacity: 120%;
   

}

.info-card {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
   
}

.info-card img{
    height: 150px;
    width: 150px;
    border: solid; border-radius: 21px;
    border-color: rgb(180, 180, 2);
}


.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    background-color:#E5E7EB;
    border: solid;
    border-color: rgb(180, 180, 2);
    padding: 0px 80px;
border-radius: 21px;
    
}

.quote {
    margin: 100px 22%;
    font-size: 36px;
    font-style: italic;
    font-weight: 30px;
    font-family: 'Roboto', sans-serif;
}

.quote-author{
    margin-right: 22%;
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.signup-panel {
    display:flex;
    justify-content: space-between;
    background-color: #a8c03d;
    border-radius: 4px;
    width: 60%;
    padding: 30px 100px;
    margin: 80px;
    border: solid; 
    border-radius: 21px;
    border-color: rgb(180, 180, 2);
}

.signup-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.signup-header {
    font-weight: bold;
    font-size: 16px;
}

.button2 {
    background-color: #a8c03d;
    color: #E5E7EB;
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid;
    border-radius: 8px;
    width: 120px;
    
}

.footer {
    height: 70px;
    background-color: #a8c03d;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid,#E5E7EB;
    border-radius: 21px;
}
.header-links{
    border: solid; color: #E5E7EB;
    border-radius: 21px;
    border-spacing: 2em;
}

.hero-secondary{
font-family: "Roboto", sans-serif;
font-weight: 100;
}
